body {
  background-size: cover;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#myVideo {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* #playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  background-color: #554a4a;
  color: #fff;
  border: none;
  cursor: pointer;
} */


#playButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Manrope'; 
  height: 96px; 
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 32px; 
  padding-right: 32px; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 36px; 
}


#playButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, #3c4fe0 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#playButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#playButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;

}
